:host {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 2rem;
    width: 100%;
}

.admin-panel {
    width: 100%;
    max-width: 1500px;
}

#pagosTable {
    width: 100% !important;
    font-size: 1.1rem;
}

.titulo {
    text-align: center;
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.acciones {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.modal .form-label {
    font-weight: bold;
}

.modal .form-control,
.modal .form-select {
    margin-bottom: 1rem;
}