/* Contenedor principal centrado */
:host {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 100%;
}

.admin-panel {
    width: 100%;
    /* que se adapte al ancho */
    max-width: 1500px;
    /* ajusta a tu gusto (más ancho = tabla más grande) */
}

#consultasTable {
    width: 100% !important;
    /* fuerza DataTable a ocupar todo el ancho */
    font-size: 1.1rem;
    /* opcional: texto un pelín más pequeño para mayor densidad */
}

.titulo {
    text-align: center;
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
}


.modal .form-label {
    font-weight: bold;
}

.modal .form-control,
.modal .form-select {
    margin-bottom: 1rem;
}