<app-header></app-header>

<main class="contenido">
  <router-outlet></router-outlet>
</main>


<!-- Botón flotante para admins -->
<button *ngIf="isAdmin" class="hamburguesa-btn" (click)="mostrarMenuAdmin = !mostrarMenuAdmin">
  ☰
</button>

<!-- Panel admin lateral -->
<div class="menu-admin" [class.abierto]="mostrarMenuAdmin" *ngIf="isAdmin">
  <button class="cerrar" (click)="mostrarMenuAdmin = false">✕</button>
  <br>
  <br>
  <ul>
    <li><a routerLink="/panelconsultas">📅 Consultas</a></li>
    <li><a routerLink="/panelusuarios">👥 Usuarios</a></li>
    <li><a routerLink="/panelsubs">💸 Suscripciones</a></li>
    <li><a routerLink="/panelsubtipos">📑 Tipos de suscripción</a></li>

  </ul>
</div>



<app-footer></app-footer>