* {
    font-family: 'Inter', sans-serif;
}



/* Contenido */
.contenido {
    padding: 2rem;
    min-height: 70vh;
    background-color: white;
}

.hamburguesa-btn {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 1000;
    font-size: 24px;
    background-color: #0044cc;
    color: white;
    border: none;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.menu-admin {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: #ffffff;
    border-right: 2px solid #0044cc;
    padding: 1rem;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease;
    z-index: 999;
}

.menu-admin.abierto {
    left: 0;
}

.menu-admin .cerrar {
    background: none;
    border: none;
    font-size: 20px;
    float: right;
    cursor: pointer;
}

.menu-admin ul {
    list-style: none;
    padding: 0;
    margin-top: 2rem;
}

.menu-admin ul li {
    margin-bottom: 1rem;
}

.menu-admin ul li a {
    text-decoration: none;
    color: #0044cc;
    font-weight: bold;
}